services:
  mongo:
    image: mongo:4.4.18
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db

  web:
    build: .
    ports:
      - "8000:8000"  
    depends_on:
      - mongo
    environment:
      - MONGODB_URL=mongodb://mongo:27017/finance

volumes:
  mongo-data:
